page-graphics-mentors {

<<<<<<< HEAD
// .greenos{
// 	height: 4%;
// 	width: 4%;
// 	display: block;
// 	margin:0 auto;
// }

img{
    height: 90%;
    width: 40%;
    display: block;
    margin:0 auto;
}

.cardcolor{
	background-color: #F2F2F2;
}
.cardcolor2{
	background-color: #F2F2F2;
}
.cardcolor3{
	background-color: #F2F2F2;
}
.cardcolor4{
	background-color: #F2F2F2;
}}

=======
}
>>>>>>> 473df12460e223293d8bf70da47f26cac6eda53c
